<!DOCTYPE html>
{% extends 'base.html' %}
  {% block head %}
  
  
  <link rel="stylesheet" href="/static/css/calculator.css">

  {% endblock head %}
 

  {% block body %}

  
    <h3>Scrap Price Calculator</h3o=1>
   
    <form>
      <label for="scrap-type">Select metal type:</label>
      <select id="scrap-type">
        <option value="aluminum">Aluminum</option>
        <option value="brass">Brass</option>
        <option value="copper">Copper</option>
        <option value="stainless-steel">Stainless Steel</option>
        <option value="paper">Paper</option>
        <option value="cardboard">Cardboard</option>
        <option value="plastic">Plastic</option>
        <option value="iron">Iron</option>
      </select>
      <br>
      <label for="weight">Enter weight (in Kg):</label>
      <input type="number" id="weight" step="0.01">
      <br>
      <label for="additional-type">Additional fees:</label>
      <select id="additional-type">
        <option value="none">None</option>
        <option value="hazardous">Hazardous materials (₹0.25/Kg)</option>
        <option value="large-quantity">Large quantities (₹0.50/Kg)</option>
      </select>
      <br>
      <button type="button" id="calculate-btn">Calculate</button>
    </form>
  
    <h2>Results</h2>
    <p>Total price: <span id="total-price">₹0.00</span></p>
    <p>Additional price: <span id="additional-price">₹0.00</span></p>
    <h3>Total weight and value by Scrap type</h3>
    <table>
      <tr>
        <th>Scrap Type</th>
        <th>Total Weight</th>
        <th>Total Value</th>
      </tr>
      <tr>
        <td>Aluminum</td>
        <td><span id="aluminum-weight">0 Kg</span></td>
        <td><span id="aluminum-value">₹0.00</span></td>
      </tr>
      <tr>
        <td>Brass</td>
        <td><span id="brass-weight">0 Kg</span></td>
        <td><span id="brass-value">₹0.00</span></td>
      </tr>
      <tr>
        <td>Copper</td>
        <td><span id="copper-weight">0 Kg</span></td>
        <td><span id="copper-value">₹0.00</span></td>
      </tr>
      <tr>
        <td>Stainless Steel</td>
        <td><span id="stainless-steel-weight">0 Kg</span></td>
        <td><span id="stainless-steel-value">₹0.00</span></td>
      </tr>
      <tr>
        <td>Paper</td>
        <td><span id="paper-weight">0 Kg</span></td>
        <td><span id="paper-value">₹0.00</span></td>
      </tr>
      <tr>
        <td>Cardboard</td>
        <td><span id="cardboard-weight">0 Kg</span></td>
        <td><span id="cardboard-value">₹0.00</span></td>
      </tr>
      <tr>
        <td>Plastic</td>
        <td><span id="plastic-weight">0 Kg</span></td>
        <td><span id="plastic-value">₹0.00</span></td>
      </tr>
      <tr>
        <td>Iron</td>
        <td><span id="iron-weight">0 Kg</span></td>
        <td><span id="iron-value">₹0.00</span></td>
      </tr>
    </table>
    <script src="/static/javascript/calculator.js"></script>
  </body>
    {% endblock body %}

   