{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/socialicon.css">
<link rel="stylesheet" href="/static/css/home-content.css">
<link rel="stylesheet" href="/static/css/why-us.css">
<link rel="stylesheet" href="/static/css/work.css">


{% endblock head %}

 {% block body  %}

{% comment %} <div class="content">

 <div class="brand">
    <span>GO</span>SCRAP
 </div>
 <div class="text">

    You Got <span>  scrap? </span>
    <br> convert into <span>  cash </span> </br>

 </div>
</div> {% endcomment %}

<div class="goscrap">
    <img src="/static/Goscrap/logo.png" alt="">
</div>


</div>
<div class="home-container">

    <div class="pickuptxt">
        Sell your <span>recyclables</span> <br>online with GOSCRAP

    </div>

    

    <div class="pickup">
        <div id="txt1">
            Nice to see you
        </div>
        <div id="txt2">
            Start selling your scrap with GOSCRAP
        </div>

        <div class="weight">
            <img src="/static/homeimg/weight.webp" alt="">
        </div>
        <div id="txt3">
            wish to recycle more
        </div>

        <div class="btn">
           <a href="/schedule_pickup"> <button id="btn1">Schedule A Pickup</button></a>
           <a href=""><button id="btn2">Check My Pickups</button></a> 
        </div>
        
    </div>


</div>



<div class="why-us">

    <h1>Why choose us</h1>

    <div class="grid">
        <div class="why">
            <img src="/static/serviceimg/shipping.svg" alt="">
            <h2>Best Rates</h2>
            <p>We provide the best value for your scrap from our network of Recyclers.</p>
        </div>

        <div class="why">
            <img src="/static/serviceimg/price.svg" alt="">
            <h2>Convenience</h2>
            <p>Doorstep pickup according to user's convenient date and time.</p>
        </div>

        <div class="why">
            <img src="/static/serviceimg/calculator.svg" alt="">
            <h2>Trust</h2>
            <p>Trained and Verified Pickup Staff with Smart Weighing Scale</p>
        </div>

        <div class="why">
            <img src="/static/serviceimg/support.svg" alt="">
            <h2>Calculate first</h2>
            <p>Scrap calculator help you to calculate the rate of your scrab first.</p>
        </div>

    </div>




</div>


<h1>How it works</h1>
<div class="work">
    <div class="info">
        <h3>Schedule a pickup </h3>
        <p>Scheduling a pickup on a GoScrap is a fast and easy process. you can schedule a pickup time according to your convanience.</p>
    </div>

    <div class="pictorial">
        <img src="/static/homeimg/schedule-bro.png" alt="">
    </div>
</div>

<div class="work">

    <div class="pictorial1">
        <img src="/static/homeimg/shipping.png" alt="">
    </div>
    <div class="info1">
        <h3>Pickup at your address </h3>
        <p>On the day of the pickup, the Goscrap team of experienced professionals will visit to your location. They'll assess the amount and type of scrap you have, and then load it onto their truck for transport to their facility for processing and recycling.</p>
    </div>

    
</div>

<div class="work">
    <div class="info2">
        <h3>Receive payment </h3>
        <p> payment will be made on the spot after the materials have been weighed and inspected. In some cases, payment may be made by check or electronic transfer after the materials have been processed and sold.</p>
    </div>

    <div class="pictorial2">
        <img src="/static/homeimg/receipt-pana.png" alt="">
    </div>
</div>





{% comment %} contact us section  {% endcomment %}

<section id="social-media">
    <div class="container-text-center">
        <p>FIND US ON SOCIAL MEDIA </p>
    </div>
    <div class="social-icons text-center">
        <a href="#"><img src="/static/contactimg/facebook-icon.png" alt=""></a>
        <a href="#"><img src="/static/contactimg/linkedin-icon.png" alt=""></a>
        <a href=""><img src="/static/contactimg/instagram-icon.png" alt=""></a>
        <a href="#"><img src="/static/contactimg/twitter-icon.png" alt=""></a>
        <a href="#"><img src="/static/contactimg/whatsapp-icon.png" alt=""></a>
    </div>
</section>



{% endblock body  %}