

{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="/static/css/ratecard.css">

{% endblock head %}
{% block body %}

<h1>GoScrap RateCard</h1>

<div class="note">
    <p>note:</p>
    <ul>
        <li>The prices may vary with fluctuation in the scrap market.</li>
        <li>We don't deal in toughened glass, wooden items, fabrics, ceramics and vehicle scrap.</li>
        <li>Prices may be different for bulk pickups. Call us at +91-8595358613 to get a quote for bulk pickup.</li>
    </ul>
</div>

<div class="title1">
   <b><i> <h3>Recyclable</h3></i></b>
</div>
<div class="ratecard">
    <div class="cards">
    <div class="image">
        <img src="/static/rateimg/newspaper.jpeg" alt="">

    </div>
    <div class="price">
        <p>RS 18/KG</p>
    </div>
    <div class="scrap_type">
        <p>NEWSPAPER</p>
    </div>
</div>


<div class="cards">
    <div class="image">
        <img src="/static/rateimg/copper.jpg" alt="">

    </div>
    <div class="price">
        <p>RS 425/KG</p>
    </div>
    <div class="scrap_type">
        <p>COPPER</p>
    </div>
        
  
</div>


<div class="cards">
    <div class="image">
        <img src="/static/rateimg/cardboard.jpg" alt="">

    </div>
    <div class="price">
        <p>RS 10/KG</p>
    </div>
    <div class="scrap_type">
        <p>CARDBOARD</p>
    </div>
</div>


<div class="cards">
    <div class="image">
        <img src="/static/rateimg/plastic.jpg" alt="">

    </div>
    <div class="price">
        <p>RS 10/KG</p>
    </div>
    <div class="scrap_type">
        <p>PLASTIC</p>
    </div>
</div>


<div class="cards">
    <div class="image">
        <img src="/static/rateimg/iron.jpg" alt="">

    </div>
    <div class="price">
        <p>RS 30/KG</p>
    </div>
    <div class="scrap_type">
        <p>IRON</p>
    </div>
</div>


<div class="cards">
    <div class="image">
        <img src="/static/rateimg/steel.jpeg" alt="">

    </div>
    <div class="price">
        <p>RS 37/KG</p>
    </div>
    <div class="scrap_type">
        <p>STEEL</p>
    </div>
</div>


<div class="cards">
    <div class="image">
        <img src="/static/rateimg/aluminium.jpg" alt="">

    </div>
    <div class="price">
        <p>RS 105/KG</p>
    </div>
    <div class="scrap_type">
        <p>ALUMINIUM</p>
    </div>
</div>

<div class="cards">
    <div class="image">
        <img src="/static/rateimg/brass.jpg" alt="">

    </div>
    <div class="price">
        <p>RS 300/KG</p>
    </div>
    <div class="scrap_type">
        <p>BRASS</p>
    </div>
</div>







{% comment %} next type of scrap items  {% endcomment %}


<div class="title1">
    <b><i> <h3>Electronics</h3></i></b>
 </div>
 <div class="ratecard">
     <div class="cards">
     <div class="image">
         <img src="/static/rateimg/microwave.jpg" alt="">
 
     </div>
     <div class="price">
         <p>RS 200/PIECE</p>
     </div>
     <div class="scrap_type">
         <p>MICROWAVE</p>
     </div>
 </div>
 
 
 <div class="cards">
     <div class="image">
         <img src="/static/rateimg/ceiling-fan.jpg" alt="">
 
     </div>
     <div class="price">
         <p>RS 35/KG</p>
     </div>
     <div class="scrap_type">
         <p>CEILING FAN</p>
     </div>
         
   
 </div>
 
 
 <div class="cards">
     <div class="image">
         <img src="/static/rateimg/ac1.webp" alt="">
 
     </div>
     <div class="price">
         <p>RS 2100/PIECE</p>
     </div>
     <div class="scrap_type">
         <p>AC (1 TON)</p>
     </div>
 </div>
 
 
 <div class="cards">
     <div class="image">
         <img src="/static/rateimg/ac2.jpg" alt="">
 
     </div>
     <div class="price">
         <p>RS 4000/PIECE</p>
     </div>
     <div class="scrap_type">
         <p>AC (2 TON)</p>
     </div>
 </div>
 
 
 <div class="cards">
     <div class="image">
         <img src="/static/rateimg/tablet.jpg" alt="">
 
     </div>
     <div class="price">
         <p>RS 40/PIECE</p>
     </div>
     <div class="scrap_type">
         <p>TABLET</p>
     </div>
 </div>
 
 
 <div class="cards">
     <div class="image">
         <img src="/static/rateimg/laptop.jpg" alt="">
 
     </div>
     <div class="price">
         <p>RS 300/PIECE</p>
     </div>
     <div class="scrap_type">
         <p>LAPTOP</p>
     </div>
 </div>
 
 
 <div class="cards">
     <div class="image">
         <img src="/static/rateimg/crt-monitor.png" alt="">
 
     </div>
     <div class="price">
         <p>RS 150/KG</p>
     </div>
     <div class="scrap_type">
         <p>CRT MONITOR</p>
     </div>
 </div>
 
 <div class="cards">
     <div class="image">
         <img src="/static/rateimg/lcd-monitor.jpg" alt="">
 
     </div>
     <div class="price">
         <p>RS 20/KG</p>
     </div>
     <div class="scrap_type">
         <p>LCD MONITOR</p>
     </div>
 </div>

{% endblock body %}