{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/signup.css">
{% endblock head %}


{% block body  %}


<div class="signup">
<div class="text-center px-100px">
    <main class="form-signin w-25 m-auto">
      <form action="/signup" method="POST">
        {% csrf_token %}
        {% comment %} <img class="mt-5 mb-4" src="{% static 'images/brand.png'%}" alt=""> {% endcomment %}
        <h1>Please Signup</h1>
        
        <div class="form-floating mb-4">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="first_name" name="fname" placeholder="First name">
            <label for="floatingPassword">First name</label>
          </div>
          <div class="form-floating mb-4">
            <input type="text" class="form-control" id="floatingPassword" name="lname" placeholder="Last name">
            <label for="floatingPassword">Last name</label>
          </div>
          
        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="floatingPassword" name="pass1" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="floatingPassword" name="pass2" placeholder="Password">
          <label for="floatingPassword"> Conform Password</label>
        </div>
    
    
        <button class="w-100 btn btn-lg btn-primary mb-4" type="submit">Sign Up</button>
        <p>Already have an account ?<a href="/signin">signin</a> </p>
        
      </form>
    </main>

</div>
</div>


{% endblock body  %}